*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: black;
    height: 80px;

    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    height: 100%;
    width: 1150px;

}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
}
li{
    margin-left: 2rem;
    list-style: none;
    
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

}
.section-1{
    height: 28rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #FFCDD2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section1-left{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.caption{
    font-size: 10px;
}
.caption a{
    color: black;
}
.section1-links-holder{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.main-link{
    text-decoration: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.bg-black{
    background-color: black;
    color: white;
}
.section-2{
    background-color: #F8F8F8;
    height: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.section-2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-2-button{
    width: 136px;
}
.download-button-holder{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-2-caption{
    max-width: 710px;
    text-align: center;
}
.section-3{
    background-color: #FFFFFF;
    height: 28rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section-3{
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}
h3{
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.row-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
    padding-left: 6rem;
    padding-right: 6rem;
}
.photos{
    height: 142px;
    width: 142px;
}
.text-size1{
    line-height: 2rem;
    font-size: 14px;
    padding: 0px;
    font-weight: 100;
    font-style: normal;
}
   

.music .photos-size-adjust{
    width: 175px;
    height: 142px;
}
.marker{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
p{
    padding-top: 0.25rem;
}
.sub-heading{
    font-size: 23px;
    font-weight: 550;
    margin-top: 0px;
    margin-bottom: 0.10px;
    padding-top: 0.25rem;
    padding-bottom: 0rem;
    min-width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-4{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section-4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4{
    font-size: 32px;
    margin-bottom: 1rem;
}
.plans{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    margin-top: 1rem;
}
.plan{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}
.month{
    align-self: flex-start;
    background-color: #4074D1;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.10rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
}
.accounts{
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 2rem;

}

.h1 .sub-heading{
    font-size: 24px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.h2 .sub-heading{
    font-size: 24px;
    margin-top: none;
    padding-bottom: 0.5rem;
    width: 255.2px;
     
}
.gap{
    margin-top: 1.5rem;
}

p{
    font-size: 1rem;
}
.tick{
    height: 24px;
    width: 24px;
    margin-right: 1rem;
}
.plan-features{
    list-style: none;
    margin-top: 1rem;
    

}
.plan-features li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 24px;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 600;
}
.button-12{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 24px;
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 600;
}
.button-123{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 24px;
    margin-top: 6rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 600;
}
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 20px;
}
.spo-log{
    height: 27px;
    width: 89px;
}